<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Untitled Document</title>
    <!-- Bootstrap -->
	<link href="New folder/css/bootstrap.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
  </head>
  <body>
	<div class="container-fluid">
	  <div class="row">Content for  class "row" Goes Here
	    <div class="col-md-12">Content for  class "col-md-8" Goes Here
        <form>
	      <div class="panel panel-default">
	        <div class="panel-heading">
	          <h3 class="panel-title">Search Form</h3>
            </div>
	        <div class="panel-body">
			<div class="row">
                <div class="col-md-6">
                  <div>
                    <div class="input-group"><span class="input-group-addon">Task Name</span>
                      <input type="text" class="form-control" placeholder="Enter task">
                    </div>
</div>
                </div>
                <div class="col-md-6"><div class="input-group"><span class="input-group-addon">Parent Task Name</span>
                  <input type="text" class="form-control" placeholder="normal sized input group">
              </div>
              </div>
              </div>
            <div class="row">
                <div class="col-md-3">
                  <div>
                    <div class="input-group"><span class="input-group-addon">Priority From</span>
                      <input type="text" class="form-control" placeholder="Enter Priority">
                    </div>
</div>
                </div>
                <div class="col-md-3"><div class="input-group"><span class="input-group-addon">Priority To</span>
                  <input type="text" class="form-control" placeholder="Enter Priority">
              </div>
              </div>
                <div class="col-md-3"><div class="input-group"><span class="input-group-addon">Start Date</span>
                      <input type="text" class="form-control" placeholder="Enter Start Date">
                    </div></div>
                <div class="col-md-3"><div class="input-group"><span class="input-group-addon">End Date</span>
                      <input type="text" class="form-control" placeholder="Enter End Date">
                    </div></div>
              </div>
            <div class="row">
            
                <div class="col-md-5"></div>
                <div class="col-md-6">
                  <div class="btn-group" role="group">
                    
                    <button type="button" class="btn btn-default active">Submit Query</button>
                  </div>
                </div>
                <div class="col-md-1S"></div>
                
              </div>
</div>
		</div>
        </form>
        </div>
	  </div>
	</div>
  

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
	<script src="New folder/js/jquery-1.11.2.min.js"></script>

	<!-- Include all compiled plugins (below), or include individual files as needed --> 
	<script src="New folder/js/bootstrap.js"></script>
    
  </body>
</html>